<% include ../partials/header %>
<section class="jumbotron text-center mini-header">
  <h1 class="display-3">Welcome to Yardage</h1>
  <a class="btn" href="/fabrics">Sign In</a>
</section>
<div class="row form-row m-5">
  <form action="/register" method="post">
    <input class="form-control my-1" type="text" name="username" placeholder="Username"/>
    <input class="form-control my-1" type="text" name="password" placeholder="Password"/>
    <input class="form-control my-1" type="text" name="email" placeholder="Email"/>
    <button class="btn btn-primary btn-block">Submit</button>
  </form>
  </div>
<% include ../partials/footer %>
