<% include partials/header %>
<section class="hero">
  <div class="background-image" style="background-image: url(assets/pinkfabric.jpg)">
    <!-- <img src="/assets/pinfabric.jpg" /> -->
  </div>

  <div class="hero-content">
    <h1>Yardage</h1>
    <h3>Your Stash. Your Projects. Your Way.</h3>
    <a class="btn" href="#">Get Started</a>
  </div>
</section>
<section class="features">
  <h3 class="title">Features of Yardage</h3>
  <p>Our goal is to make sewing and quilting easier than ever. We help you track your fabric and notions as as well as your design ideas, so you can focus on creating.</p>
  <hr>
  <ul class="list">
    <li>
      <i class="far fa-edit fa-4x"></i>
      <h4>Track your Stash</h4>
      <p>Record details about your purchases, including pictures, yardage, fiber content and matching notions in your personal database.
      </p>
    </li>
    <li>
      <i class="far fa-clipboard fa-4x"></i>
      <h4>Plan for success</h4>
      <p>Record notes about your pattern plans and inspiration to ensure those great ideas don't get lost!
      </p>
    </li>
    <li>
      <i class="far fa-star fa-4x"></i>
      <h4>Record your Victories</h4>
      <p>Currate a notebook of your completed and in progress projects so you can always remember your alterations, successes, and lessons for future projects.
      </p>
    </li>
  </ul>
</section>

<% include partials/footer %>
