body {
  font-family: 'Nunito', sans-serif;
  background: white;
  height: 100%
}
#mainNav {
  font-size: 1.5rem;
  font-weight: 200;
  background-color: #f5d9d5;
  animation: 1s fadein 0.5s forwards;
  opacity: 0;
  padding-bottom: 30px;
}
@keyframes fadein {
  100% {
    opacity: 1;
  }
}
#mainNav .nav-link {
  color: white;

}
#mainNav .nav-link:hover {
  color: #d10f49;
}

#mainNav .navbar-brand {
  color: #d10f49;
  font-size: 1.5rem;
  font-weight: 400;
}

.btn {
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
  background-color: white;
  color: #d10f49;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 80px;
}
.extra-space {
  padding-top:120px;
}

.hero {
  position: relative;
  justify-content: center;
  text-align: center;
  color: white;
  min-: 100vh;
}

.hero .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1;
  background-color: #d10f49;
  font-weight: 300;
}

.hero h1 {
  font-size: 60px;
  margin-bottom: 15px;
}

.hero h3 {
  font-weight: 200;
  font-size: 28px;
  margin-bottom: 15px;
}

.hero-content {
  opacity: 0;
  margin-top: 100px;
  animation: 1s slidefade 1s forwards;
}
@keyframes slidefade {
  100% {
    opacity: 1;
    margin: 0;
  }
}

h3.title{
  font-weight: 300;
  text-transform: uppercase;
  color: #d10f49;
}

section ul {
list-style-type: none;
}

section:not(.hero):nth-child(even){
  background-color: #fff;
  color: #d10f49;
}

.list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

hr {
  width: 250px;
  height: 3px;
  background-color: #d10f49;
  border: 0;
  margin-bottom: 50px;
}

.show {
  max-width: 100%;
  max-height: 500px;
  margin-left: auto;
  margin-right: auto;
  display:block;
}

.title {
  text-transform: capitalize;
  margin-bottom: 30px;
  text-align: center;
}

.gallery {
  width = 100%;
  margin: 0 auto;
}

section p {
  max-width: 775px;
  line-height: 2;
  padding: 0 20px;
  margin-bottom: 30px;
  text-align: center;
}
.card {
  margin: 1rem;
}
.card-text {
  padding: 0;
  text-align: left;
}
.card-body{
  padding: 1rem;
}
.card-btn {
  display: flex;
}
.btn-primary {
  justify-content: center;
  border-color: #d10f49;
}
.btn-primary:hover {
  color: white;
  background-color: #d10f49;
  border-color: #d10f49;
}
.card-img-top {
  max-width: 100%;
}
.btn-show {
  width: 100%;
  margin: 1rem;
}
.btn-div {
  display:flex;
  justify-content: space-around;
}
.features .list li {
  padding: 50px;
  text-align: center;
}

.features .list li i {
  color: #d10f49;
}

.features .list li h4 {
  font-size: 30px;
  margin: 25px 0;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #f5d9d5;
  color: #d10f49;
}

footer ul {
  display: flex;
  list-style-type: none;
}

footer ul li {
  margin-left: 16px;
}

footer p {
  align-self: center;
}

footer ul li i {
  color: white;
}


.mini-header {
  margin-top: 30px;
  background-image: url("../assets/pinkfabric.jpg");
}
.mini-header h1 {
  color: white;
}

.form-row {
  justify-content: center;
}

.form-control {
  text-align: center;
}
.form-control:focus{
  border-color: #EA1C2C;
  box-shadow: 0 0 0 0.2rem rgba(234, 28, 44, .25) ;
}

#delete {
  display: inline;
}
