<% include ../partials/header %>
<section class="jumbotron text-center mini-header">
  <h1 class="display-3">Add a New Fabric</h1>
  <a class="btn" href="/fabrics">Back to Fabrics</a>
</section>
<div class="row form-row m-5">
  <form action="/fabrics" method="post" class="fabric-form">
    <input class="form-control my-1" type="text" name="name" placeholder="Name"/>
    <input class="form-control my-1" type="text" name="image" placeholder="Image URL"/>
    <input class="form-control my-1" type="text" name="description" placeholder="Description"/>
    <button class="btn card-btn btn-block">Submit</button>
  </form>
  </div>
<% include ../partials/footer %>
