<% include ../partials/header %>
<section class="jumbotron text-center mini-header">
  <h1 class="display-3"><%=fabric.name%></h1>
  <a class="btn" href="/fabrics">Back to Fabrics</a>
</section>
<section>
<img src="<%=fabric.image%>"/>
<p>
  <%=fabric.description%>
  </p>
  </section>
<% include ../partials/footer %>
